<?xml version="1.0"?>
<config>
    <modules>
        <Alpenite_Blog>
            <version>1.0.0.0</version>
        </Alpenite_Blog>
    </modules>
    <global>
        <models>
            <alpenite_blog>
                <class>Alpenite_Blog_Model</class>
                <resourceModel>alpenite_blog_resource</resourceModel>
            </alpenite_blog>
            <alpenite_blog_resource>
                <class>Alpenite_Blog_Model_Resource</class>
                <entities>
                    <post_entity>
                        <table>alpenite_blog_post_entity</table>
                    </post_entity>
                    <post_entity_datetime>
                        <table>alpenite_blog_post_entity_datetime</table>
                    </post_entity_datetime>
                    <post_entity_decimal>
                        <table>alpenite_blog_post_entity_decimal</table>
                    </post_entity_decimal>
                    <post_entity_int>
                        <table>alpenite_blog_post_entity_int</table>
                    </post_entity_int>
                    <post_entity_text>
                        <table>alpenite_blog_post_entity_text</table>
                    </post_entity_text>
                    <post_entity_varchar>
                        <table>alpenite_blog_post_entity_varchar</table>
                    </post_entity_varchar>
                    <post_entity_char>
                        <table>alpenite_blog_post_entity_char</table>
                    </post_entity_char>
                </entities>
            </alpenite_blog_resource>
        </models>
        <helpers>
            <alpenite_blog>
                <class>Alpenite_Blog_Helper</class>
            </alpenite_blog>
        </helpers>
        <blocks>
            <alpenite_blog>
                <class>Alpenite_Blog_Block</class>
            </alpenite_blog>
        </blocks>
        <resources>
            <alpenite_blog_setup>
                <setup>
                    <module>Alpenite_Blog</module>
                    <class>Alpenite_Blog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </alpenite_blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <events>
            <alpenite_blog_post_save_before>
                <observers>
                    <alpenite_blog_model_observer>
                        <type>singleton</type>
                        <class>Alpenite_Blog_Model_Observer</class>
                        <method>setModifiedBy</method>
                    </alpenite_blog_model_observer>
                </observers>
            </alpenite_blog_post_save_before>
        </events>
    </global>
    <frontend>
        <routers>
            <alpenite_blog>
                <use>standard</use>
                <args>
                    <module>Alpenite_Blog</module>
                    <frontName>alpenblog</frontName>
                </args>
            </alpenite_blog>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <alpenite_blog before="Mage_Adminhtml">Alpenite_Blog_Adminhtml</alpenite_blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <blog>
                    <file>alpeniteblog.xml</file>
                </blog>
            </updates>
        </layout>
    </adminhtml>
</config>